/* importing the following fonts: Nobile, lato. 

date: April 10, 2019
*/

@import url('https://fonts.googleapis.com/css?family=Nobile|Lato|Raleway|Montserrat');


:root{
	--blue: #0A2463;
  --grey: #837a75;
  --black: #02111B;
  --green: #a5d3c1;
  --gold: #eebf48;
  --offwhite: #EEECE8;
  --coreRed: #da705c;
  --whitesmoke: #F5F5F5;
  --timberwolf: #DAD7CD;
  --bottleGreen: #0B6E4F;

}

body{
	background-color: var(--offwhite);

}

.remark-container{
	background-color: var(--offwhite);
}

.title-slide content {
		background-color: var(--black);
}
	background-color: var(--black);
}

.remark-slide-content {
	background-color: var(--offwhite);
}

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background-color: var(--offwhite);
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background-color:var(--offwhite);}



tbody tr:nth-child(even) {
  background-color:var();
}


h1{	
	font-family: 'Montserrat', sans-serif;
	color: var(--coreRed);
	font-size: 1.9em;
	text-align: left;
		text-rendering: optimizelegibility !important;

}

h2{
	font-family: 'Montserrat', sans-serif;
	color: var(--blue);
	font-size: 1.75em;
	text-align: left;
		text-rendering: optimizelegibility !important;

}

h3{
<<<<<<< HEAD:core_presentation.css
font-family: 'Raleway', sans-serif;
	color: var(--coreRed);
	text-align: center;
	font-size: 1.5em;
=======
font-family: 'Montserrat', sans-serif;
	color: var(--coreRed);
	text-align: left;
	font-size: 1.4em;
	font-style: italic;
>>>>>>> master:rmd/core_presentation.css
		text-rendering: optimizelegibility !important;
}

h4{
<<<<<<< HEAD:core_presentation.css
font-family: 'Raleway', sans-serif;
	color: var(--coreRed);
=======
font-family: 'Montserrat', sans-serif;
	color: var(--blue);
>>>>>>> master:rmd/core_presentation.css
	text-align: left;
	font-size: 1.45em;
		text-rendering: optimizelegibility !important;
}

ul,ol,dl,p,li{
	color: var(--black);
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	text-align: left;
}

/* change the color of active or hovered links */

.navbar-light .nav-item.active .nav-link,
.navbar-light  .nav-item:focus .nav-link,
.navbar-light  .nav-item:hover .nav-link {
	background-color: var(--whitesmoke);
	color: red;
	text-decoration: underline;
}


a{
	color: var(--blue);
}

a:hover{
	text-decoration: underline;
	}

<<<<<<< HEAD:core_presentation.css
=======
a:visited{
	color: var(--bottleGreen);
}
>>>>>>> master:rmd/core_presentation.css

.runner {
	background-color: #F77A00;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb76b), color-stop(0%,#ffa73d), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,#F77A00), color-stop(100%,#F77A00));
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	text-align: left;
}

.image-half{
	height: 50%;
	width: 50%;
}

.image-quarter{
	height: 25%;
	width: 25%;
}

.image-ten{
	height: 10%;
	width: 10%;
}

<<<<<<< HEAD:core_presentation.css

=======
.left{
	text-align:left !important;
	}
	
.center{
	text-align:center !important;
	}
	
.right{
	text-align: right;
	}
>>>>>>> master:rmd/core_presentation.css

.footnote{
	color:#193993;
	font-size: .65em;
	font-style: italic;
	
}

.v-middle{
	vertical-align: middle;
}
	
.right-code {
  width: 38%;
  height: 92%;
  float: right;
}

.left-code {
  width: 38%;
  height: 92%;
  float: left;
}

.left-plot {
  width: 60%;
  float: left;
  padding-left: 1%;
}

.right-plot{
  width: 60%;
  float: right;
  padding-left: 2%;
}

.list-group-item {
	font-family: Montserrat;
	text-decoration: underline;
	position: relative
	display: block;
	padding: 10px 15px;
	margin-bottom: 1px;
	background-color: var(--whitesmoke);
	border: 10px;
	color: var(--black);
}


.text-container-left {
	float: left;
	padding: 4px 2px 2px 2px;
	margin: 10px 400px 10px 50px;
	border: 0px;
	border-style: solid;
	border-color: var(--timberwolf);
}


.text-container-right {
	float: right;
	padding: 4px 2px 2px 2px;
	margin: 10px 50px 50px 200px;
	border: 0px;
	border-style: solid;
	border-color: var(--timberwolf);

}

.mr-big-right {
	margin: 0px 50px 200px 200px;
}


.mr-big-left {
	margin: 0px 200px 0px 0px;
}